[Desktop Entry]
Name=4jcraft
Exec=4jcraft %u
Terminal=false
SingleMainWindow=true
Type=Application
Comment=Ported version of Minecraft Legacy Console edition to other systems
Categories=Game
